<style>
    .form-control.is-invalid {
        border-color: red;
    }

</style>
<div class="container">
    <div class="py-3 mt-5 text-center">
        <h2>Check out</h2>
        <p class="lead">
            {{hotel.hotel-description}}
        </p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your bill details</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li
                        class="list-group-item d-flex justify-content-between lh-condensed"
                >
                    <div>
                        <h6 class="my-0">Hotel name</h6>
                        <small class="text-muted">{{hotel.hotel-name}}</small>
                    </div>
                </li>
                <li
                        class="list-group-item d-flex justify-content-between lh-condensed"
                >
                    <div>
                        <h6 class="my-0">Date arrival</h6>
                        <small class="text-muted">{{hotel.arrival}}</small>
                    </div>
                </li>
                <li
                        class="list-group-item d-flex justify-content-between lh-condensed"
                >
                    <div>
                        <h6 class="my-0">Date departure</h6>
                        <small class="text-muted">{{hotel.departure}}</small>
                    </div>
                </li>
                <li
                        class="list-group-item d-flex justify-content-between lh-condensed"
                >
                    <div>
                        <h6 class="my-0">Total price</h6>
                        <small class="text-muted">Total days * Price</small>
                    </div>
                    <span class="text-muted" id="temp-price"></span>

                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">SALE</h6>
                        <small>20%</small>
                    </div>
                    <span class="text-success" id="discount-price"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong id="total-price"></strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Promo code"
                    />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="fullname">Fullname <span class="text-danger">  (* Required) </span></label
                    >
                    <input
                            type="fullname"
                            class="form-control"
                            id="fullname"
                            placeholder="Thành đẹp trai"
                    />
                    <div class="invalid-feedback">
                        Please enter a valid name.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email"
                    >Email <span class="text-muted">(Optional)</span></label
                    >
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="you@example.com"
                    />
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            placeholder="1234 Main St"
                            required
                    />
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <hr class="mb-4"/>

                <div class="custom-control custom-checkbox">
                    <input
                            type="checkbox"
                            class="custom-control-input"
                            id="save-info"
                    />
                    <label class="custom-control-label" for="save-info"
                    >Save this information for next time</label
                    >
                </div>
                <hr class="mb-4"/>

                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input
                                id="credit"
                                name="paymentMethod"
                                type="radio"
                                class="custom-control-input"
                                checked
                                required
                        />
                        <label class="custom-control-label" for="credit"
                        >Credit card</label
                        >
                    </div>
                    <div class="custom-control custom-radio">
                        <input
                                id="debit"
                                name="paymentMethod"
                                type="radio"
                                class="custom-control-input"
                                required
                        />
                        <label class="custom-control-label" for="debit"
                        >Debit card</label
                        >
                    </div>
                    <div class="custom-control custom-radio">
                        <input
                                id="paypal"
                                name="paymentMethod"
                                type="radio"
                                class="custom-control-input"
                                required
                        />
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input
                                type="text"
                                class="form-control"
                                id="cc-name"
                                placeholder=""
                                required
                        />
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">Name on card is required</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input
                                type="text"
                                class="form-control"
                                id="cc-number"
                                placeholder=""
                                required
                        />
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input
                                type="text"
                                class="form-control"
                                id="cc-expiration"
                                placeholder=""
                                required
                        />
                        <div class="invalid-feedback">Expiration date required</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input
                                type="text"
                                class="form-control"
                                id="cc-cvv"
                                placeholder=""
                                required
                        />
                        <div class="invalid-feedback">Security code required</div>
                    </div>
                </div>
                <hr class="mb-4"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    Continue to checkout
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    const tempPrice = document.getElementById("temp-price");
    const discountPrice = document.getElementById("discount-price");
    const totalPrice = document.getElementById("total-price");

    const totalDays = parseInt(Math.abs(new Date({{hotel.departure}}) - new Date({{hotel.arrival}})) / (1000 * 60 * 60 * 24));
    const tempPriceValue = parseInt({{hotel.hotel-price}}) * totalDays;
    const discountPriceValue = tempPriceValue * 0.2;
    const totalPriceValue = tempPriceValue - discountPriceValue;

    console.log(totalDays, tempPriceValue, discountPriceValue, totalPriceValue);

    tempPrice.innerHTML = tempPriceValue;
    discountPrice.innerHTML = discountPriceValue;
    totalPrice.innerHTML = totalPriceValue;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            navigator.geolocation.getCurrentPosition(getAddress);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    getLocation();

    function showPosition(position) {
        console.log("Latitude: " + position.coords.latitude +
                "Longitude: " + position.coords.longitude);
    }

    const addressInput = document.getElementById("address");

    function getAddress(position) {
        fetch(`https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${position.coords.latitude}&longitude=${position.coords.longitude}&localityLanguage=en`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    addressInput.value = data.city;
                })
                .catch(error => console.log(error));
    }

</script>
