<section class="banner">
    <form action="#" class="booking__now">
        <h1>BOOKING A ROOM ONLINE</h1>
        <div class="form-item">
            <div class="form-label">
                <div class="span">Arrival</div>
            </div>
            <div class="form-control">
                <input aria-label="booking" type="date" name="arrival_date"/>
            </div>
        </div>
        <div class="form-item">
            <div class="form-label">
                <div class="span">Departure</div>
            </div>
            <div class="form-control">
                <input aria-label="booking" type="date" name="departure_date"/>
            </div>
        </div>
        <div class="form-item">
            <button type="submit">Book Now</button>
        </div>
    </form>
</section>
</div>
<section class="wrapper">
    <i class="fas fa-arrow-left button" id="prev"></i>
    <div class="image-container">
        <div class="slide-home">
            <img src="img/01.jpg" alt="anh-1"/>
            <img src="img/02.jpg" alt="anh-2"/>
            <img src="img/03.jpg" alt="anh-3"/>
            <img src="img/04.jpg" alt="anh-4"/>
        </div>
    </div>
    <i class="fas fa-arrow-right button" id="next"></i>
</section>
<section class="recommended">
    <div class="container">
        <h1>RECOMMENDED</h1>
        <div class="row mt-5">
            {{#each hotels}}
                    <div class="col-lg-4">
                        <div class="banchay">
                            <div class="anh-1">
                                <img src="{{this.image.[0]}}" alt="anh-1"/>
                                <div class="banchay__desc">
                                    <h3 class="bedroom">{{this.name}}</h3>
                                    <a href="/hotel-detail/{{this.name}}">
                                        <button class="price">$ {{this.price}}</button>
                                    </a>
                                    <span>{{this.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/each}}

            <!--<div class="col-lg-4">
                <div class="banchay">
                    <div class="anh-1">
                        <img src="img/01.jpg" alt="anh-1"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs"><a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a></a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="banchay">
                    <div class="anh-2">
                        <img src="img/02.jpg" alt="anh-2"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="banchay">
                    <div class="anh-3">
                        <img src="img/03.jpg" alt="anh-3"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</section>
<section class="explorer">
    <div class="container">
        <h1>EXPLORE</h1>
        <div class="row mt-3">
            <div class="col-lg-3 col-md-6">
                <div class="hangmoi__item">
                    <div class="anh-1">
                        <img src="img/moi-1.jpg" alt="anh-1"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hangmoi__item">
                    <div class="anh-1">
                        <img src="img/moi-2.jpg" alt="anh-1"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hangmoi__item">
                    <div class="anh-1">
                        <img src="img/moi-3.jpg" alt="anh-1"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hangmoi__item">
                    <div class="anh-1">
                        <img src="img/moi-4.jpg" alt="anh-1"/>
                        <div class="banchay__desc">
                            <h3 class="bedroom">BED ROOM</h3>
                            <a href="checkout.hbs">
                                <button class="price">$250</button>
                            </a>
                            <span>Add a description of the image here <br/>Lorem ipsum dolor
                  sit amet consectetur, adipisicing elit. Fuga voluptatibus
                  deserunt velit ducimus odit beatae officiis magnam optio
                  quod, corrupti veritatis aliquid illo nesciunt sapiente,
                  atque odio accusamus amet cupiditate.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="container">
        <h1>BLOG</h1>
        <div class="row mt-3">
            <div class="col-lg-8 col-md-6">
                <div class="about_us">
                    <img src="img/block3.jpg" alt="anh-1"/>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ducimus qui atque saepe consectetur adipisicing elit. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Ducimus qui
                        atque saepe...
                    </p>
                    <a href="blog.html">
                        <button>READ MORE</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog1.jpg" alt="anh-1"/>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog2.jpg" alt="anh-1"/>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog3.jpg" alt="anh-1"/>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const wrapper = document.querySelector(".wrapper");
    const carousel = document.querySelector(".slide-home");
    const images = document.querySelectorAll(".slide-home img");
    const buttons = document.querySelectorAll(".wrapper .button");

    let imageIndex = 1;
    let intervalId;

    function calculateImageIndex(index) {
        if (index === images.length) {
            return 0;
        } else if (index < 0) {
            return images.length - 1;
        } else {
            return index;
        }
    }

    const slideImage = (index = ++imageIndex) => {
        imageIndex = calculateImageIndex(index);
        carousel.style.transform = `translate(-${imageIndex * 100}%)`;
    };

    const autoSlide = () => {
        intervalId = setInterval(slideImage, 2000);
    };

    autoSlide();

    const updateClick = (e) => {
        clearInterval(intervalId);
        const newImageIndex = imageIndex + (e.target.id === "next" ? 1 : -1);
        slideImage(newImageIndex);
        autoSlide();
    };

    buttons.forEach((button) => button.addEventListener("click", updateClick));

    wrapper.addEventListener("mouseover", () => clearInterval(intervalId));
    wrapper.addEventListener("mouseleave", autoSlide);

    const arrivalDate = document.querySelector("input[name=arrival_date]");
    const departureDate = document.querySelector("input[name=departure_date]");
    const bookingForm = document.querySelector(".booking__now");

    departureDate.onchange = () => {
        if (arrivalDate.value > departureDate.value) {
            alert("Departure date must be greater than arrival date");
            departureDate.value = '';
        }
    };

    bookingForm.addEventListener("submit", (e) => {
        e.preventDefault();
        if (!arrivalDate?.value || !departureDate?.value) {
            alert("Please fill in all fields");
            return;
        }
        if (arrivalDate.value > departureDate.value) {
            alert("Departure date must be greater than arrival date");
        } else {
            bookingForm.submit();
        }
    });

</script>