<style>

    body {
        max-width: 100%;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    #toggleContainer label {
        text-align: center;
        width: 50px;
    }

    #container {
        min-height: min-content;
        height: 100%;
        position: relative;
        /*width: 100%;*/
        box-sizing: border-box;
    }

    #toggleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #tilesContainer {
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        box-sizing: border-box;

    }

    .tileItem {
        width: 250px;
        height: 250px;
        margin: 5px;
        border-radius: 5px;
        transition: all 0.5s ease;
    }

    .tileItem:hover {
        transform: scale(1.05);
        transition: all 0.5s ease;
    }

    #galleryContainer {
        height: 500px;
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    #toggle {
        display: flex;
        align-items: center;
    }

    #tilesView {
        /*min-height: 100vh;*/
        display: none;
        justify-content: center;
    }

    #galleryView {
        display: flex;
        justify-content: center;
    }

    #outer3 {
        width: 100px;
        height: 30px;
        background-color: white;
        margin: 10px auto;
        border-radius: 3px;
        border: 2px solid white;
        transition: all 0.5s;
    }

    #slider3 {
        height: 26px;
        width: 46px;
        background-color: red;
        border-radius: 3px;
        transition: all 0.5s;
    }

    #slider3.active {
        -webkit-transform: translatex(50px);
        -ms-transform: translatex(50px);
        -o-transform: translatex(50px);
        transform: translatex(50px);
        transition: all 0.5s;
        background-color: orangered;
    }

    #outer3.outerActive {
        background-color: white;
        border: 2px solid white;
        transition: all 0.5s;
    }

    #btn-booknow {
        background-color: #fff;
        color: red;
        outline: solid 1px red;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }

    #btn-booknow:hover {
        background-color: red;
        outline: solid 1px red;
        color: white;
    }

    #btn-booknow:active {
        background-color: #fff;
        color: red;
        transform: scale(0.95);
    }

    #mainView {
        height: 400px;
        width: 400px;
        border-radius: 5px;
        background-color: #eb9100;
        margin-left: 10px;
        margin-right: 10px;
        z-index: 1;
        transition: all 1s;
    }

    #mainView img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        box-sizing: border-box;
        z-index: 1;
    }

    #mainView:hover {
        transform: scale(1.2);
        transition: all 1s;
    }

    #leftView {
        height: 350px;
        width: 100px;
        opacity: 0.5;
        border-radius: 5px;
        transform: skewy(5deg);
        transform-origin: top right;
        background-color: #eb9100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
    }

    #leftView:hover {
        opacity: 1;
        transition: all 1s;
    }

    #rightView {
        height: 350px;
        width: 100px;
        opacity: 0.5;
        border-radius: 5px;
        transform: skewy(-5deg);
        transform-origin: top left;
        background-color: #eb9100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
    }

    #rightView:hover {
        opacity: 1;
        transition: all 1s;
    }

    .navBtns {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        position: absolute;
        opacity: 0.8;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    .navBtns:hover {
        opacity: 1;
        transition: all 1s;
        background-color: #e3c595;
    }

    #navLeft {
        left: 30px;
    }

    #navRight {
        right: 30px;
    }


    .cd__main {
        background: #fff;
        padding: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-wrap: wrap;
        display: flex;
        width: 100% !important;
    }

    .similiar-hotel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .similiar-hotel .card {
        max-height: none !important;
    }

    .similiar-hotel .card img {
        height: 100%;
        max-height: 150px;
        object-fit: cover;
    }

    .similiar-hotel .card a {
        background: #f5f5f5;
        border: none;
        color: #000;
        font-weight: bold;
    }

    .similiar-hotel .card a:hover {
        background: #000;
        color: #fff;
    }

    @media only screen and (max-width: 992px) {
        .similiar-hotel .card {
            width: 100%;
            margin-bottom: 10px;
        }

        #galleryContainer {
            height: 100%;
            width: 100%;
        }

        #galleryView {
            min-height: 200px;
            max-height: 500px;
            height: 100%;
            width: 100%;
        }

        #mainView {
            height: 100%;
            width: 80%;
            margin-left: 5px;
            margin-right: 5px;
        }

        #leftView, #rightView {
            height: 80%;
            width: 10%;
        }

        .navBtns {
            width: 30px;
            height: 30px;
        }

        #navRight {
            right: 5px;
        }

        #navLeft {
            left: 5px;
        }
    }


</style>

<main class="cd__main">
    <div class="container-fluid mt-5 mb-1">
        <div class="row" id="container">
            <div class="col-md-7 col-sm-12">
                <div id="galleryView">
                    <div id="galleryContainer">
                        <div id="leftView"></div>
                        <button id="navLeft" class="navBtns"><i class="fas fa-arrow-left fa-1"></i></button>
                        <div id="mainView">
                            <img id="mainViewImg" src="" alt="{{hotel.name}}">
                        </div>
                        <div id="rightView"></div>
                        <button id="navRight" class="navBtns"><i class="fas fa-arrow-right fa-1"></i></button>
                    </div>
                </div>
                <div id="tilesView">
                    <div id="tilesContainer"></div>
                </div>
                <div id="toggleContainer" class="w-100 col-12">
                    <label>Carousel</label>
                    <div id="toggle">
                        <div id="outer3">
                            <div id="slider3"></div>
                        </div>
                        <label>Tiles</label>
                    </div>
                </div>

            </div>
            <div class="col-md-5 col-sm-9">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Status: {{#if hotel.status }} Available{{/if}}
                    </div>
                    <div class="product-title text-bold my-3" style="font-size: 2.5rem; color: red">
                        {{hotel.name}}
                    </div>

                    <div class="price-area my-4">
                        <p class="old-price mb-1">
                            <del>$ {{hotel.price}}</del>
                            <span class="old-price-discount text-danger">(20% off)</span></p>
                        <p class="old-price mb-1" style="font-size: 1.5rem">
                            <span class="text-danger">Time remaining:</span>
                            <span class="text-danger" id="time-countdown">24:00:00</span></p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>
                    </div>


                    <form method="get" action="/checkout" id="booking-form" class="buttons d-flex my-5 align-items-center">
                        <div class="flex w-50">
                            <div class="block date">
                                <label for="arrival">Check in:</label><input type="date" class="form-control my-1"
                                                                             id="arrival-date"
                                                                             name="arrival">
                            </div>
                            <div class="block date">
                                <label for="departure">Check out:</label><input type="date" class="form-control mt-1"
                                                                                id="departure-date" name="departure">
                            </div>
                        </div>
                        <div class="d-flex w-40 ms-2">
                            <div class="block ms-2">
                                <button class="shadow btn custom-btn" type="submit" id="btn-booknow">Book now</button>
                            </div>
                        </div>
                        <input type="hidden" name="hotel-name" value="{{hotel.name}}">
                        <input type="hidden" name="hotel-price" value="{{hotel.price}}">
                        <input type="hidden" name="hotel-address" value="{{hotel.address}}">
                        <input type="hidden" name="hotel-status" value="{{hotel.status}}">
                    </form>


                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Hotel Details</p>
                    <p class="description">{{hotel.description}}</p>
                </div>

                <div class="row questions bg-light p-3">
                    <div class="col-md-1 icon">
                        <i class="fa-brands fa-rocketchat questions-icon"></i>
                    </div>
                    <div class="col-md-11 text">
                        Have a question about our this hotel? Feel free to contact our representatives via live
                        chat or email.
                    </div>
                </div>

                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-location-arrow"></i></span>
                        <b> {{hotel.address}}</b></p>
                    <p class="text-secondary"><a href="https://www.google.com/maps/search/{{hotel.address}}"
                                                 target="_blank" style="color: red">Check on Google Maps</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container similar-products my-4">
        <hr>
        <p class="display-5">Similar Hotels</p>

        <div class="row similiar-hotel">
            {{#each hotels}}
                <div class="col-md-3 mx-3">
                    <div class="card">
                        <img class="card-img-top" src="{{this.image.[0]}}" alt="Preview">
                        <div class="card-body">
                            <h4 class="card-title">{{this.name}}</h4>
                            <p class="card-text">$ {{this.price}}</p>
                            <a href="/hotel-detail/{{this.name}}" class="btn btn-primary">See Details</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    </div>
</main>

<div id="myModal" class="modal mt-5">
    <span class="close">&times;</span>
    <img class="modal-content" id="modelImg">
    <div id="caption"></div>
</div>

<script>

    document.getElementById("outer3").addEventListener("click", toggleState3);

    function toggleState3() {
        let galleryView = document.getElementById("galleryView")
        let tilesView = document.getElementById("tilesView")
        let outer = document.getElementById("outer3");
        let slider = document.getElementById("slider3");
        let tilesContainer = document.getElementById("tilesContainer");
        if (slider.classList.contains("active")) {
            slider.classList.remove("active");
            outer.classList.remove("outerActive");
            galleryView.style.display = "flex";
            tilesView.style.display = "none";

            while (tilesContainer.hasChildNodes()) {
                tilesContainer.removeChild(tilesContainer.firstChild)
            }
        } else {
            slider.classList.add("active");
            outer.classList.add("outerActive");
            galleryView.style.display = "none";
            tilesView.style.display = "flex";

            for (let i = 0; i < imgObject.length - 1; i++) {
                let tileItem = document.createElement("div");
                tileItem.classList.add("tileItem");
                tileItem.style.background = "url(" + imgObject[i] + ")";
                tileItem.style.backgroundSize = "cover";
                tilesContainer.appendChild(tileItem);
            }
        }
        ;
    }

    let imgObject = [];
        {{#each hotel.image}}
        imgObject.push("{{this}}");
        {{/each}}
    console.log(imgObject);
    let mainImg = 0;
    let prevImg = imgObject.length - 1;
    let nextImg = 1;

    function loadGallery() {

        const mainViewImg = document.getElementById("mainViewImg");
        mainViewImg.src = imgObject[mainImg];
        mainViewImg.style.display = "none";

        const mainView = document.getElementById("mainView");
        mainView.style.background = "url(" + imgObject[mainImg] + ")";
        mainView.style.backgroundSize = "cover";

        let leftView = document.getElementById("leftView");
        leftView.style.background = "url(" + imgObject[prevImg] + ")";
        leftView.style.backgroundSize = "cover";

        let rightView = document.getElementById("rightView");
        rightView.style.background = "url(" + imgObject[nextImg] + ")";
        rightView.style.backgroundSize = "cover";

    };

    function scrollRight() {

        prevImg = mainImg;
        mainImg = nextImg;
        if (nextImg >= (imgObject.length - 1)) {
            nextImg = 0;
        } else {
            nextImg++;
        }
        ;
        loadGallery();
    };

    function scrollLeft() {
        nextImg = mainImg
        mainImg = prevImg;

        if (prevImg === 0) {
            prevImg = imgObject.length - 1;
        } else {
            prevImg--;
        }
        ;
        loadGallery();
    };

    loadGallery();


    document.getElementById("navRight").addEventListener("click", scrollRight);
    document.getElementById("navLeft").addEventListener("click", scrollLeft);
    document.getElementById("rightView").addEventListener("click", scrollRight);
    document.getElementById("leftView").addEventListener("click", scrollLeft);
    document.addEventListener('keyup', function (e) {
        if (e.keyCode === 37) {
            scrollLeft();
        } else if (e.keyCode === 39) {
            scrollRight();
        }
    });

    const modal = document.getElementById("myModal");
    const imgModalSrc = document.getElementById("mainViewImg");
    const mainView = document.getElementById("mainView");
    const captionText = document.getElementById("caption");
    const modalImg = document.getElementById("modelImg");

    mainView.style.cursor = "pointer";
    mainView.addEventListener("click", function () {
        modal.style.display = "block";
        modalImg.src = imgModalSrc.src;
        captionText.innerHTML = imgModalSrc.alt;
    });


    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];
    console.log('span: ', span);

    span.onclick = function () {
        modal.style.display = "none";
    }

    const btnBookNow = document.getElementById('btn-booknow');
    const arrivalDate = document.getElementById('arrival-date');
    const departureDate = document.getElementById('departure-date');

    function validateDate() {
        if (arrivalDate.value === '' || departureDate.value === '') {
            alert('Please select arrival and departure date');
            return false;
        } else if (arrivalDate.value > departureDate.value) {
            alert('Please select valid arrival and departure date');
            return false;
        } else {
            return true;
        }
    }

    const bookingForm = document.getElementById('booking-form');

    bookingForm.addEventListener('submit', function (ev) {
        if (!validateDate) {
            ev.preventDefault();
        }
    });

    const timeCountdown = document.getElementById('time-countdown');
    const timeCountdownValue = timeCountdown.innerHTML;
    const timeCountdownArray = timeCountdownValue.split(':');
    let hour = parseInt(timeCountdownArray[0]);
    let minute = parseInt(timeCountdownArray[1]);
    let second = parseInt(timeCountdownArray[2]);
    let timeInterval = setInterval(function () {
        if (second === 0) {
            if (minute === 0) {
                if (hour === 0) {
                    clearInterval(timeInterval);
                    timeCountdown.innerHTML = ('Sale time is up');
                } else {
                    hour--;
                    minute = 59;
                    second = 59;
                }
            } else {
                minute--;
                second = 59;
            }
        } else {
            second--;
        }
        timeCountdown.innerHTML = hour + ':' + minute + ':' + second;
    }, 1000);


</script>
